<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <div class="well well-sm">
          <fieldset>
            <legend class="text-center">Much New Post</legend>
            <div class="form-group">
              <label class="col-md-3 control-label" for="title"><%= f.label :title %>:</label>
              <div class="col-md-9">
                <%= f.text_field :title, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="body"><%= f.label :body %>:</label>
              <div class="col-md-9">
                <%= f.text_area :body, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12 text-right">
                <%= f.submit 'Submit', class: "btn btn-primary" %>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
  </div>
</div>
<% end %>
