<%= @post.title %><br>
<%= @post.body %>
<% if current_user == @post.user %>
  <%= button_to 'So Delete', "/posts/#{@post.id}",
          method: :delete, data:
          { confirm: 'Much Shibe, Very Warn, Sure you want to delete?' },
          id: "delete-post-#{@post.id}" %>
  <%= button_to 'Much Edit',
      edit_post_path(@post),
      method: :get, id: "edit-post-#{@post.id}" %>
<% end %>
<%= form_for [@post, @reply] do |f| %>
  <% if @reply.errors.any? %>
    <ul>
      <% @reply.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit 'Submit' %>
<% end %>
